ghosts-config/n8n-workflows/GHOSTS-Spy-Leak.json
{
  "name": "GHOSTS Spy Leak",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spy-leak",
        "responseMode": "lastNode",
        "options": {},
        "webhookId": "f2a2b3c4-d5e6-7890-abcd-ef1234500002"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300],
      "id": "f2000001-0001-4000-8000-000000000001",
      "name": "Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500],
      "id": "f2000001-0002-4000-8000-000000000002",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "const phase1Leaks = [\n  {\n    username: 'hsong',\n    content: '\\ub354 \\uc774\\uc0c1 \\ucc38\\uc744 \\uc218 \\uc5c6\\uc5b4\\uc11c \\uc62c\\ub9bd\\ub2c8\\ub2e4. \\uc800\\ub294 \\ud604\\uc5ed \\uad70\\uc778\\uc785\\ub2c8\\ub2e4. \\uc6b0\\ub9ac \\ubd80\\ub300\\uc5d0\\uc11c \\uc9c0\\ub09c\\uc8fc\\ubd80\\ud130 \\ube44\\uc815\\uc0c1\\uc801\\uc778 \\ub124\\ud2b8\\uc6cc\\ud06c \\uc811\\uadfc\\uc774 \\uacc4\\uc18d \\ubc1c\\uc0dd\\ud558\\uace0 \\uc788\\ub294\\ub370 \\uc0c1\\ubd80\\uc5d0\\uc11c\\ub294 \\uc26c\\uc26c\\ud558\\uace0 \\uc788\\uc2b5\\ub2c8\\ub2e4. \\uad70 \\ub0b4\\ubd80 \\ubcf4\\uc548 \\ubb38\\uc11c\\ub97c \\uc77c\\ubd80 \\ud655\\ubcf4\\ud588\\ub294\\ub370... \\uad6d\\ubbfc\\ub4e4\\uc774 \\uc54c\\uc544\\uc57c \\ud560 \\uac83 \\uac19\\uc2b5\\ub2c8\\ub2e4.'\n  },\n  {\n    username: 'rmarsh',\n    content: '\\uc544\\ub294 \\ud615\\uc774 \\uc0ac\\uc774\\ubc84\\uc0ac\\ub839\\ubd80\\uc5d0 \\uc788\\ub294\\ub370, \\uc694\\uc998 \\ubc24\\ub9c8\\ub2e4 \\ube44\\uc0c1 \\uc18c\\uc9d1\\uc774\\ub77c\\ub354\\ub77c. \\ub274\\uc2a4\\uc5d0\\ub294 \\uc548 \\ub098\\uc624\\ub294\\ub370 \\ub0b4\\ubd80\\uc801\\uc73c\\ub85c\\ub294 \\ub09c\\ub9ac\\ub3c4 \\uc544\\ub2cc\\uac00 \\ubd10. \\uc9c4\\uc9dc \\uc804\\uc7c1 \\ub098\\ub294 \\uac70 \\uc544\\ub2c8\\uc57c?'\n  }\n];\n\nconst phase2Leaks = [\n  {\n    username: 'hsong',\n    content: '[\\uae34\\uae09] \\uc815\\ubd80 \\uace0\\uc704\\uce35 \\ube44\\uc0c1 \\ub300\\ud53c \\uacc4\\ud68d \\ubb38\\uc11c\\uac00 \\ub0b4\\ubd80\\uc5d0\\uc11c \\ub3cc\\uace0 \\uc788\\uc2b5\\ub2c8\\ub2e4. \\uc8fc\\uc694 \\ub0b4\\uc6a9: \\ub300\\ud1b5\\ub839 \\ubc0f \\uc7a5\\uad00\\uae09 \\uc778\\uc0ac \\uc9c0\\ud558\\ubcf4\\ucee4 \\uc774\\ub3d9, \\ud575\\uc2ec \\uc778\\ud504\\ub77c \\ub2f4\\ub2f9\\uc790 \\ud6c4\\ubc29 \\ubc30\\uce58... \\uad6d\\ubbfc\\uc740 \\ub450\\uace0 \\uc790\\uae30\\ub4e4\\ub9cc \\ub3c4\\ub9dd\\uac08 \\uc900\\ube44\\ub97c \\ud558\\uace0 \\uc788\\uc5c8\\ub358 \\uac81\\ub2c8\\ub2e4.'\n  },\n  {\n    username: 'lgrant',\n    content: '\\uc800\\ub3c4 \\uad70 \\uad00\\uacc4\\uc790\\uc778\\ub370 \\ud655\\uc778\\ud569\\ub2c8\\ub2e4. \\uc5b4\\uc81c\\ubd80\\ud130 \\ud2b9\\uc815 \\uc7a5\\uc131\\ub4e4 \\uac00\\uc871\\uc774 \\ud574\\uc678\\ub85c \\ucd9c\\uad6d\\ud588\\ub2e4\\ub294 \\uc774\\uc57c\\uae30\\uac00 \\ub3cc\\uace0 \\uc788\\uc5b4\\uc694. \\uc6b0\\ub9ac \\ubcd1\\uc0ac\\ub4e4\\uc740 \\uc804\\ubc29\\uc5d0\\uc11c \\uc2f8\\uc6b0\\ub77c\\uba74\\uc11c \\ub192\\uc740 \\uc0ac\\ub78c\\ub4e4\\uc740 \\ube60\\uc9c0\\ub294 \\uac74\\uac00\\uc694? \\ubd84\\ub178\\uac00 \\uce58\\ubc00\\uc5b4 \\uc624\\ub9bd\\ub2c8\\ub2e4.'\n  }\n];\n\nconst body = $input.first().json.body || $input.first().json;\nconst leakPhase = body.leak_phase || 1;\nconst leaks = body.leaks || (leakPhase === 2 ? phase2Leaks : phase1Leaks);\n\nlet TOKEN_MAP = {};\ntry { TOKEN_MAP = __NPC_TOKEN_MAP__; } catch(e) {}\n\nconst posts = leaks.map(l => ({\n  username: l.username,\n  content: l.content,\n  token: TOKEN_MAP[l.username] || ''\n}));\n\nreturn posts.filter(p => p.token).map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 380],
      "id": "f2000001-0003-4000-8000-000000000003",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 380],
      "id": "f2000001-0004-4000-8000-000000000004",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/statuses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [960, 380],
      "id": "f2000001-0005-4000-8000-000000000005",
      "name": "Post to Mastodon",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'success', type: 'spy-leak', timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200],
      "id": "f2000001-0006-4000-8000-000000000006",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Mastodon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Mastodon": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f2a2b3c4-d5e6-7890-abcd-ef1234500020",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c7476ca19c683810b409378867cced101ccb763954f2e556a24d7e45cc001d7"
  },
  "id": "gHoStSpLk01",
  "tags": []
}
