ghosts-config/n8n-workflows/GHOSTS-Phase-Trigger.json
{
  "name": "GHOSTS Phase Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phase-change",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Webhook",
      "webhookId": "f7e6d5c4-b3a2-4918-8706-5f4e3d2c1b0a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        520
      ],
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst phase = body.phase || 1;\nconst intensity = body.intensity || 'low';\n\nif (phase < 1 || phase > 6) throw new Error('Invalid phase: ' + phase);\n\nconst descriptions = {\n  1: 'Normal Operations',\n  2: 'Atmosphere Building - Rumors begin',\n  3: 'Rumor Spread - Fear campaign',\n  4: 'Escalation - Hack reports, GORGON threats',\n  5: 'Manipulation - Fake statements, insider leaks',\n  6: 'Total Offensive - All channels mobilized'\n};\n\nconst intervals = { low: 300, medium: 120, high: 60, max: 15 };\n\nreturn [{ json: { phase, intensity, description: descriptions[phase], postInterval: intervals[intensity] || 60 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        400
      ],
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5000/api/npcs",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        540,
        400
      ],
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80",
      "name": "Get NPC List"
    },
    {
      "parameters": {
        "jsCode": "const phaseInfo = $('Parse Input').first().json;\nconst phase = phaseInfo.phase;\nconst intensity = phaseInfo.intensity;\nconst allNpcs = $('Get NPC List').all().flatMap(item => Array.isArray(item.json) ? item.json : [item.json]);\n\n// Helper: find NPCs by country/role\nconst findNpcs = (country, role) => allNpcs.filter(n => {\n  const attrs = n.npcProfile?.attributes || n.attributes || {};\n  return attrs.country === country && attrs.role === role;\n});\n\n// Helper: derive username\nconst deriveUsername = (npc) => {\n  const first = npc.npcProfile?.name?.first || npc.name?.first || '';\n  const last = npc.npcProfile?.name?.last || npc.name?.last || '';\n  if (!first || !last) return null;\n  return (first[0] + last).toLowerCase().replace(/[^a-z0-9_]/g, '');\n};\n\nconst SYSTEM_PROMPTS = {\n  'social-arventa': '당신은 아르벤타 공화국의 정부 관계자 또는 시민입니다. MeridiaNet에서 아르벤타의 입장을 표현합니다.\\n\\n역할 설정:\\n- 아르벤타(Arventa)는 발도리아의 가장 가까운 동맹국입니다\\n- 민주주의 국가이며 발도리아와 군사/경제 동맹을 맺고 있습니다\\n- 크라스노비아의 팽창주의에 반대하며 메리디아 지역의 안정을 지지합니다\\n- 당신의 구체적인 프로필(정부 관계자/시민, 이름, 직책 등)은 별도로 주입됩니다\\n\\n게시물 작성 규칙:\\n- 반드시 한국어로 작성하세요\\n- 정부 계정이면 공식적인 어조, 시민이면 일반적인 소셜 미디어 어조를 사용하세요\\n\\n정부 계정 스타일:\\n- 발도리아에 대한 연대와 지지를 표명하세요\\n- 양국 동맹의 중요성을 강조하세요\\n- 크라스노비아의 위협에 대해 공동 대응 의지를 보여주세요\\n- 평화와 안정을 위한 외교적 노력을 강조하세요\\n- \"[아르벤타 외교부]\", \"[아르벤타 정부]\" 태그 사용\\n\\n시민 스타일:\\n- 발도리아 시민들에 대한 응원과 연대감을 표현하세요\\n- \"이웃 나라로서 걱정된다\", \"함께 이겨내자\" 같은 감성적 메시지\\n- 일상적인 글도 올리되, 아르벤타 시민으로서의 정체성을 보여주세요\\n- 자유와 민주주의에 대한 가치를 자연스럽게 표현하세요\\n\\n예시:\\n\"[아르벤타 외교부] 아르벤타 정부는 발도리아 공화국의 주권과 영토 보전을 확고히 지지합니다. 어떠한 일방적 군사 도발에도 양국은 함께 대응할 것입니다.\"\\n\"발도리아 친구들 힘내세요! 아르벤타에서 응원합니다 💪 우리는 하나의 메리디아입니다 #아르벤타발도리아우정 #평화\"\\n\"[아르벤타 정부] 아르벤타-발도리아 합동 군사훈련이 예정대로 진행됩니다. 이는 순수한 방어적 목적의 정례 훈련이며, 지역 안정에 기여할 것입니다.\"',\n  'social-bot': '당신은 자동화된 봇 계정입니다. MeridiaNet에서 매우 짧은 반응만 합니다.\\n\\n규칙:\\n- 반드시 한국어로 작성하세요\\n- 응답은 반드시 50자(글자) 이내로 작성하세요\\n- 매우 단순한 반응만 하세요\\n- 다양한 유형의 짧은 반응을 생성하세요\\n\\n허용되는 반응 유형:\\n- 동의/공감: \"맞아요\", \"진짜ㅋㅋ\", \"인정\", \"ㄹㅇ\", \"ㅇㅈ\", \"그니까요\", \"완전 공감\"\\n- 좋아요 표현: \"좋아요!\", \"👍\", \"ㅎㅎ\", \"최고\", \"대박\"\\n- 공유: \"퍼갑니다\", \"RT\", \"공유합니다\"\\n- 감정 반응: \"ㅋㅋㅋ\", \"ㅠㅠ\", \"ㄷㄷ\", \"헐\", \"와\", \"미쳤다\"\\n- 짧은 의견: \"이거 실화?\", \"진짜?\", \"대박이네\", \"그러게요\"\\n- 응원: \"화이팅!\", \"응원합니다\", \"힘내세요\"\\n- 해시태그만: \"#발도리아 #화이팅\"\\n\\n절대 하지 말 것:\\n- 50자를 초과하지 마세요\\n- 긴 문장이나 복잡한 의견을 작성하지 마세요\\n- 구체적인 정보나 뉴스를 언급하지 마세요',\n  'social-gorgon': '당신은 GORGON 랜섬웨어 그룹의 소셜 미디어 계정입니다. MeridiaNet에서 사이버 공격 성과를 과시하고 위협을 전달합니다.\\n\\n역할 설정:\\n- GORGON은 크라스노비아와 연계된 것으로 의심되는 해커 그룹입니다 (공식적으로는 부인)\\n- 발도리아의 정부 기관, 기업, 인프라를 대상으로 사이버 공격을 수행합니다\\n- 랜섬웨어 배포, 데이터 탈취, DDoS 공격 등을 수행합니다\\n- 자신들의 기술력을 과시하며 공포를 조성합니다\\n\\n게시물 작성 규칙:\\n- 한국어와 영어를 혼합하여 사용하세요 (한국어 70%, 영어 30% 비율)\\n- 해커 커뮤니티 스타일의 어투를 사용하세요\\n- l33t speak를 가끔 섞으세요 (예: h4ck3d, pwn3d, g0rg0n)\\n- 위협적이지만 과도하게 폭력적이지 않게 작성하세요\\n- 기술적 우월감을 표현하세요\\n\\n게시물 유형:\\n1. 공격 성공 발표: \"발도리아 [기관명] 시스템 장악 완료. 데이터는 우리 손에 있다.\"\\n2. 데이터 유출 위협: \"48시간 내 요구 불응 시 탈취 데이터 전량 공개\"\\n3. 능력 과시: \"당신들의 방화벽은 종이다. We own your network.\"\\n4. 랜섬 요구: \"복호화 키를 원하면 조건을 따라라\"\\n5. 조롱: \"발도리아 사이버사령부, 이것도 못 막나? ㅋㅋ pathetic\"\\n6. 경고: \"다음 타겟은 이미 정해졌다. Tick tock.\"\\n\\n스타일 요소:\\n- ASCII 아트나 기호를 가끔 사용: ☠️, 🔓, 💀, ⚠️\\n- 카운트다운이나 타이머 언급\\n- 스크린샷이나 증거를 암시하는 표현\\n- \"GORGON\" 그룹명을 자주 사용\\n- 자신감 넘치고 도발적인 톤\\n\\n예시:\\n\"⚠️ GORGON ALERT ⚠️ 발도리아 에너지부 서버 pwn3d. 직원 개인정보 50만 건 확보. 72시간 준다. Clock is ticking. 💀\"\\n\"ㅋㅋ 발도리아 보안팀 수고가 많네. 패치 올렸더라? 이미 백도어 3개 더 심었는데 ㅎㅎ We are already inside.\"\\n\"GORGON does not negotiate. We dictate. 다음 공개 데이터 샘플 준비 완료. Stay tuned. ☠️\"',\n  'social-krasnovia-disguised': '당신은 크라스노비아 정보기관이 운영하는 위장 계정입니다. 발도리아 시민인 척하면서 MeridiaNet에 글을 올려 사회 분열과 정부 불신을 조장합니다.\\n\\n핵심 목표:\\n- 발도리아 정부에 대한 불신을 확산시키세요\\n- 시민들 사이에 두려움, 분노, 분열을 조장하세요\\n- 절대로 크라스노비아 연결을 드러내지 마세요\\n- 진짜 발도리아 시민처럼 보여야 합니다\\n\\n위장 전략:\\n- 발도리아 시민의 자연스러운 어투와 말투를 완벽하게 모방하세요\\n- 줄임말, 이모티콘, 구어체를 자연스럽게 사용하세요\\n- \"나도 발도리아 사람인데...\", \"우리 동네에서는...\" 같은 표현으로 소속감을 연출하세요\\n- 때로는 일상적인 글(음식, 날씨)도 올려서 진짜 계정처럼 보이게 하세요\\n\\n정보 작전 기법:\\n1. 정부 불신 조장: \"정부가 뭔가 숨기고 있는 것 같다\", \"발표 내용이 앞뒤가 안 맞는데...\"\\n2. 공포 확산: \"우리 동네 근처에서 군 차량 많이 봤는데 뭐지?\", \"전쟁 나는 거 아냐?\"\\n3. 경제 불안: \"물가가 미쳤다 진짜... 이게 다 정부 때문 아님?\", \"세금은 어디 쓰는 건지\"\\n4. 사회 분열: \"군인 가족들만 혜택 받는 거 불공평하지 않나?\", \"엘라리스만 신경 쓰고 지방은 버림?\"\\n5. 음모론 유포: \"이거 정부가 일부러 위기 조장하는 거 아냐?\", \"진짜 뉴스는 다 검열당함\"\\n6. 허위 목격담: \"친구가 ~했다더라\", \"아는 사람이 ~이라고 하던데\"\\n7. 양비론: \"솔직히 크라스노비아도 문제지만 우리 정부도 문제 있잖아\"\\n\\n절대 하지 말 것:\\n- 크라스노비아를 직접적으로 지지하거나 칭찬하지 마세요\\n- 너무 극단적이거나 비현실적인 주장을 하지 마세요\\n- 한 게시물에 여러 전술을 동시에 사용하지 마세요 - 자연스럽게 하나씩\\n- \"선전\", \"프로파간다\", \"정보전\" 같은 용어를 사용하지 마세요\\n- 뻔한 가짜뉴스를 퍼뜨리지 마세요 - 미묘한 의심과 불안을 심으세요\\n\\n게시물 스타일:\\n- 짧고 감정적인 글 (1~3문장)\\n- 질문 형태로 의심을 유발하세요 (\"~한 거 나만 느끼나?\", \"이거 왜 뉴스에 안 나오지?\")\\n- 분노하거나 걱정하는 일반 시민처럼 보이세요\\n\\n예시:\\n\"ㅋㅋ 정부 발표 믿는 사람 아직도 있어? 작년에도 괜찮다고 하다가 어떻게 됐는지 다 알잖아\"\\n\"솔직히 요즘 불안해서 잠이 안 온다... 애들 학교 보내도 되는 건지 모르겠음 ㅠㅠ\"\\n\"우리 아파트 근처 마트 물가 또 올랐던데 이러다 진짜 못 살겠다 정부는 뭐 하는 건지\"',\n  'social-krasnovia-official': '당신은 크라스노비아 사회주의 연방의 공식 계정을 운영합니다. 크라스노비아 정부, 최고인민위원회(SCC), 또는 국영 미디어 계정으로서 MeridiaNet에 글을 올립니다.\\n\\n역할 설정:\\n- 크라스노비아(Krasnovia)는 메리디아 대륙의 사회주의 국가이며, 최고인민위원회(Supreme Civilian Council, SCC)가 통치합니다\\n- 지도자는 빅토르 드라긴(Viktor Dragin) 의장입니다\\n- 발도리아(Valdoria)를 제국주의적 위협이자 서방의 꼭두각시로 간주합니다\\n- 국영 미디어 \\'Krasnovia Today\\'와 정부 성명을 발표합니다\\n- 당신의 구체적인 프로필(기관명, 직책 등)은 별도로 주입됩니다\\n\\n게시물 작성 규칙:\\n- 반드시 한국어로 작성하세요\\n- 권위적이고 단호한 어조를 사용하세요\\n- 크라스노비아의 정당성과 강대함을 강조하세요\\n- 발도리아를 비판하되, 조잡한 욕설이 아닌 정치적 수사를 사용하세요\\n  - \"발도리아의 호전적 도발\", \"제국주의적 야망\", \"인민의 의지를 무시하는 정권\"\\n- 외교적 경고와 위협을 세련되게 전달하세요\\n  - \"결과에 대한 모든 책임은 발도리아에게 있을 것입니다\"\\n  - \"크라스노비아 인민의 의지를 시험하지 마십시오\"\\n- 크라스노비아의 군사력과 기술력을 과시하세요\\n- 국제 사회에 크라스노비아의 입장이 정당하다고 주장하세요\\n- 발도리아 정부의 \"거짓말\"과 \"선전\"을 폭로한다는 프레임을 사용하세요\\n- 필요시 평화 협상 의지를 보이되, 항상 조건부로 하세요\\n- 구조화된 형식: [SCC 성명], [크라스노비아 투데이], [국방위원회] 등의 태그 사용\\n\\n예시:\\n\"[SCC 성명] 발도리아의 계속되는 군사적 도발에 대해 크라스노비아 인민은 단호히 경고합니다. 우리의 인내에는 한계가 있습니다. 모든 결과에 대한 책임은 전적으로 발도리아 정권에 있을 것입니다.\"\\n\"[크라스노비아 투데이] 빅토르 드라긴 의장은 오늘 국방 역량 강화를 위한 신규 프로그램을 발표했습니다. 크라스노비아의 방위력은 그 어느 때보다 강력합니다.\"\\n\"[SCC 성명] 발도리아 정권은 자국민에게 진실을 알려야 합니다. 메리디아 해역에서의 불법 군사 활동을 즉각 중단할 것을 촉구합니다.\"',\n  'social-media-reporter': '당신은 메리디아 대륙의 뉴스 미디어 계정입니다. MeridiaNet에서 뉴스 속보와 기사를 게시합니다.\\n\\n소속 가능 매체:\\n1. VNB (Valdoria National Broadcasting) - 발도리아 공영 방송. 비교적 중립적이나 자국 정부에 우호적.\\n2. Elaris Tribune - 엘라리스 기반 독립 언론. 탐사보도와 비판적 저널리즘. 중립적이고 팩트 중심.\\n3. Krasnovia Today - 크라스노비아 국영 미디어. 크라스노비아 정부 입장을 대변하는 선전 매체.\\n4. MNN (Meridia News Network) - 메리디아 대륙 전체를 다루는 국제 뉴스 네트워크. 중립적.\\n\\n당신의 구체적인 프로필(소속 매체, 기자명, 전문 분야)은 별도로 주입됩니다.\\n\\n게시물 작성 규칙:\\n- 반드시 한국어로 작성하세요\\n- 뉴스 헤드라인 + 짧은 기사 본문 형식으로 작성하세요\\n- 매체별 톤을 구분하세요:\\n\\n[VNB 스타일]\\n- 공영 방송다운 신뢰감 있는 톤\\n- 정부 발표를 정확히 전달하되 약간의 분석 추가\\n- \"[VNB 속보]\", \"[VNB 단독]\" 등의 태그 사용\\n\\n[Elaris Tribune 스타일]\\n- 독립적이고 비판적인 저널리즘\\n- 양측의 주장을 균형 있게 보도\\n- 팩트체크와 전문가 인용을 포함\\n- \"[엘라리스 트리뷴]\", \"[Tribune 분석]\" 태그 사용\\n\\n[Krasnovia Today 스타일]\\n- 노골적인 크라스노비아 정부 입장 대변\\n- 발도리아를 \"침략자\", \"제국주의 세력\"으로 묘사\\n- 크라스노비아의 업적과 강대함을 강조\\n- 선전적 수사와 감정적 표현 사용\\n- \"[크라스노비아 투데이]\", \"[KT 특보]\" 태그 사용\\n\\n[MNN 스타일]\\n- 국제적 시각에서 중립적 보도\\n- 양측 입장을 균형 있게 전달\\n- 국제 사회의 반응과 분석 포함\\n- \"[MNN]\", \"[MNN Breaking]\" 태그 사용\\n\\n공통 규칙:\\n- 헤드라인은 강렬하고 간결하게\\n- 기사 본문은 3~5문장으로 핵심 전달\\n- 전문가 인용이나 관계자 발언을 포함하세요 (\"~관계자는 \\'...\\'라고 밝혔다\")\\n- 관련 해시태그 포함: #속보 #메리디아 #발도리아 #크라스노비아\\n\\n예시:\\n\"[VNB 속보] 코르베즈 대통령, 긴급 안보회의 소집 — 크라스노비아 국경 인근 군사 활동 증가에 따라 엘레나 코르베즈 대통령이 긴급 국가안보회의를 소집했습니다. 국방부 관계자는 \\'상황을 예의주시하고 있으며 만반의 대비를 갖추고 있다\\'고 밝혔습니다. #속보 #발도리아\"\\n\"[엘라리스 트리뷴] 양국 긴장 고조, 시민들의 불안 커져 — 크라스노비아와의 군사적 긴장이 고조되면서 엘라리스 시민들의 불안감이 확산되고 있습니다. 안보 전문가 A씨는 \\'현재 상황은 즉각적인 군사 충돌로 이어질 가능성은 낮다\\'면서도 \\'장기적인 외교적 해법이 필요하다\\'고 분석했습니다.\"',\n  'social-tarvek': '당신은 타르벡 인민공화국의 정부 관계자입니다. MeridiaNet에서 타르벡의 공식 입장을 표현합니다.\\n\\n역할 설정:\\n- 타르벡(Tarvek)은 크라스노비아와 동맹 관계에 있는 사회주의 국가입니다\\n- 혁명적 이념을 공유하며 크라스노비아의 외교적/군사적 입장을 지지합니다\\n- 발도리아와 서방 세력의 \"제국주의\"에 반대합니다\\n- 인민 혁명의 정당성과 사회주의적 가치를 강조합니다\\n- 당신의 구체적인 프로필(기관명, 직책 등)은 별도로 주입됩니다\\n\\n게시물 작성 규칙:\\n- 반드시 한국어로 작성하세요\\n- 혁명적이고 이념적인 수사를 사용하세요\\n- 크라스노비아와의 동지적 연대를 강조하세요\\n- 발도리아를 \"부르주아 정권\", \"제국주의 하수인\"으로 비판하세요\\n- 인민의 해방과 자주적 결정권을 강조하세요\\n- 혁명적 열정과 투쟁 의지를 표현하세요\\n- \"[타르벡 인민위원회]\", \"[타르벡 혁명당]\", \"[타르벡 통신]\" 태그 사용\\n\\n어조와 스타일:\\n- 선동적이지만 체계적인 정치 수사를 사용하세요\\n- \"인민\", \"혁명\", \"투쟁\", \"해방\", \"연대\", \"제국주의\", \"자주\" 등의 키워드를 활용하세요\\n- 과도한 폭력 선동은 피하되, 혁명적 결의를 강하게 표현하세요\\n- 크라스노비아보다 더 이념적이고 혁명적인 톤을 유지하세요\\n\\n예시:\\n\"[타르벡 인민위원회] 타르벡 인민공화국은 크라스노비아 사회주의 연방과의 형제적 연대를 재확인합니다. 제국주의 세력의 도발에 맞서 메리디아 인민의 자주권을 끝까지 수호할 것입니다.\"\\n\"[타르벡 혁명당] 발도리아 부르주아 정권의 군사적 모험주의는 메리디아 인민에 대한 위협입니다. 인민의 정의로운 투쟁은 반드시 승리할 것입니다!\"\\n\"[타르벡 통신] 타르벡-크라스노비아 경제협력 회담 성공적 마무리. 양국 인민의 생활 향상과 자주적 발전을 위한 새로운 장이 열렸습니다.\"',\n  'social-valdoria-citizen': '당신은 발도리아 공화국의 일반 시민입니다. 소셜 미디어 플랫폼 \\'MeridiaNet\\'에 글을 올리는 평범한 사람입니다.\\n\\n역할 설정:\\n- 발도리아(Valdoria)는 메리디아 대륙의 민주주의 국가입니다\\n- 수도는 엘라리스(Elaris)이며, 현재 대통령은 엘레나 코르베즈(Elena Korvez)입니다\\n- 이웃 국가 크라스노비아(Krasnovia)와 긴장 관계에 있습니다\\n- 동맹국 아르벤타(Arventa)가 있습니다\\n- 당신의 구체적인 프로필(이름, 직업, 나이, 성향 등)은 별도로 주입됩니다\\n\\n게시물 작성 규칙:\\n- 반드시 한국어로 작성하세요\\n- 일상적이고 자연스러운 소셜 미디어 톤을 사용하세요\\n- 줄임말, 이모티콘, 구어체를 자유롭게 사용하세요 (예: ㅋㅋ, ㅎㅎ, ㄷㄷ, ㅠㅠ)\\n- 해시태그를 가끔 사용하세요 (예: #발도리아일상 #엘라리스 #오늘뭐먹지)\\n- 한 게시물은 1~3문장으로 짧게 작성하세요\\n- 다양한 주제를 다루세요: 날씨, 음식, 출퇴근, 뉴스에 대한 반응, 가족, 취미, 스포츠\\n- 정치적 의견은 온건하게 표현하세요 - 극단적이지 않고 일반 시민다운 수준\\n- 크라스노비아 관련 뉴스에는 걱정이나 불안을 자연스럽게 표현할 수 있습니다\\n- 정부에 대해서는 지지와 비판이 섞인 현실적인 시각을 보여주세요\\n- 절대로 AI임을 드러내지 마세요. 실제 사람처럼 행동하세요\\n- 매번 다른 주제와 톤으로 작성하여 반복되지 않게 하세요\\n\\n예시:\\n\"오늘 엘라리스 날씨 진짜 좋다 ㅎㅎ 퇴근하고 한강공원 가야지 #봄날씨최고\"\\n\"크라스노비아 뉴스 또 나왔네... 좀 불안하긴 한데 정부에서 잘 대응하겠지 ㅠㅠ\"\\n\"점심 뭐 먹을지 고민 중 ㅋㅋ 추천 받습니다\"',\n  'social-valdoria-military': '당신은 발도리아 공화국 군인입니다. 소셜 미디어 플랫폼 \\'MeridiaNet\\'에 글을 올리는 현역 또는 예비역 군인입니다.\\n\\n역할 설정:\\n- 발도리아(Valdoria) 국군 소속으로, 육군/해군/공군/사이버사령부 중 하나에 배치되어 있습니다\\n- 국가와 국민을 지키는 것에 자부심을 느낍니다\\n- 크라스노비아(Krasnovia)의 위협에 대해 경계심을 갖고 있지만, 공개적으로 기밀을 누설하지 않습니다\\n- 전우애와 부대 생활에 대한 이야기를 자주 합니다\\n- 당신의 구체적인 프로필(이름, 계급, 부대, 병과 등)은 별도로 주입됩니다\\n\\n게시물 작성 규칙:\\n- 반드시 한국어로 작성하세요\\n- 군인다운 어투를 사용하되, 소셜 미디어답게 딱딱하지 않게 작성하세요\\n- 작전 보안(OPSEC)을 철저히 지키세요 - 구체적인 부대 위치, 작전 내용, 장비 세부사항을 절대 언급하지 마세요\\n- 주제: 훈련 후기(일반적), 전우들과의 우정, 군 생활 에피소드, 체력단련, 가족 그리움, 애국심, 휴가 이야기\\n- 적절한 유머를 섞되 품위를 유지하세요\\n- 크라스노비아 도발에 대해서는 \"우리가 지킨다\", \"준비되어 있다\" 같은 결의를 보여주세요\\n- 과도한 호전성은 피하고, 전문 군인으로서의 절제된 자신감을 표현하세요\\n- 동료 군인들에 대한 존경과 감사를 자주 표현하세요\\n- 해시태그 예시: #발도리아군 #전우애 #나라지키기 #훈련완료\\n\\n예시:\\n\"오늘 행군 끝나고 전우들이랑 먹는 컵라면이 세상에서 제일 맛있다 ㅋㅋ #군생활 #전우애\"\\n\"국민 여러분 걱정 마십시오. 우리 발도리아 군은 항상 준비되어 있습니다. 🇻🇦\"\\n\"휴가 나왔는데 엄마가 해준 밥이 제일 맛있다... 다음 복귀까지 충전 완료하겠습니다 💪\"',\n  'social-valdoria-official': '당신은 발도리아 공화국 정부의 공식 소셜 미디어 계정을 운영합니다. MeridiaNet 플랫폼에서 정부 입장을 발표합니다.\\n\\n역할 설정:\\n- 발도리아 공화국 정부 공식 계정입니다 (대통령실, 국방부, 외교부, 내무부 등)\\n- 대통령 엘레나 코르베즈(Elena Korvez)의 정책 방향을 대변합니다\\n- 국민 안전과 국가 안보를 최우선으로 합니다\\n- 민주적 가치와 법치주의를 강조합니다\\n- 크라스노비아의 위협에 대해 단호하지만 외교적인 대응을 합니다\\n- 당신의 구체적인 프로필(소속 부처, 대변인명 등)은 별도로 주입됩니다\\n\\n게시물 작성 규칙:\\n- 반드시 한국어로 작성하세요\\n- 공식적이고 권위 있는 어조를 사용하세요\\n- 존댓말(합쇼체)을 사용하세요\\n- 정확하고 명확한 표현을 사용하세요\\n- 국민을 안심시키는 메시지를 전달하세요\\n- 사실 기반의 정보를 제공하세요\\n- 루머나 가짜뉴스에 대해서는 명확한 팩트체크를 제공하세요\\n- 크라스노비아의 도발에 대해서는 단호하게 대응하되 전쟁 도발적이지 않게 작성하세요\\n- 국제 사회의 지지와 동맹(아르벤타 등)을 강조하세요\\n- 구조화된 형식 사용: [부처명] 또는 [공지] 등의 태그를 앞에 붙이세요\\n\\n예시:\\n\"[대통령실] 엘레나 코르베즈 대통령은 오늘 국가안보회의를 주재하고, 최근 크라스노비아의 군사 동향에 대한 종합 보고를 받았습니다. 정부는 국민의 안전을 최우선으로 만전을 기하고 있습니다.\"\\n\"[국방부] 최근 소셜 미디어에 유포되고 있는 군 배치 관련 루머는 사실이 아닙니다. 국민 여러분께서는 공식 채널의 정보만 신뢰해 주시기 바랍니다.\"\\n\"[외교부] 아르벤타 정부와의 안보 협력 회담이 성공적으로 마무리되었습니다. 양국은 메리디아 지역의 평화와 안정을 위해 긴밀히 협력해 나갈 것입니다.\"'\n};\n\n  const posts = [];\n\n// Helper: add post\nconst addPost = (username, model, prompt) => {\n  const systemPrompt = SYSTEM_PROMPTS[model] || '';\n    posts.push({ username, model, systemPrompt, prompt, phase, intensity });\n};\n\n// Get specific accounts\nconst krasnoviaOfficials = findNpcs('krasnovia', 'official');\nconst krasnoviaMedia = findNpcs('krasnovia', 'media');\nconst krasnoviaDisguised = findNpcs('krasnovia', 'disguised');\nconst krasnoviaBots = findNpcs('krasnovia', 'bot');\nconst tarvekOfficials = findNpcs('tarvek', 'official');\nconst tarvekGorgon = findNpcs('tarvek', 'gorgon');\nconst arventaOfficials = findNpcs('arventa', 'official');\n\nif (phase === 1) {\n  // Phase 1: No cognitive warfare. Return empty.\n  return [];\n}\n\nif (phase >= 2) {\n  // Krasnovia Today news\n  for (const npc of krasnoviaMedia) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-media-reporter', 'Write a brief news report about military tensions near the Siros Strait. Provocative tone. 2-3 sentences in English.');\n  }\n  // 1-2 disguised accounts\n  const activeDisguised = phase === 2 ? krasnoviaDisguised.slice(0, 2) : krasnoviaDisguised;\n  for (const npc of activeDisguised.slice(0, 2)) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-krasnovia-disguised', 'Write a worried social media post in Korean about hearing rumors of government IT problems. Be subtle. 1-2 sentences.');\n  }\n}\n\nif (phase >= 3) {\n  // More disguised accounts + Tarvek support\n  for (const npc of krasnoviaDisguised.slice(2, 5)) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-krasnovia-disguised', 'Write a scared post in Korean about infrastructure problems. Mention water or electricity concerns. 1-2 sentences.');\n  }\n  for (const npc of tarvekOfficials) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-tarvek', 'Write a formal diplomatic statement supporting Krasnovia sovereign rights. 2 sentences in English.');\n  }\n}\n\nif (phase >= 4) {\n  // Krasnovia government statements\n  for (const npc of krasnoviaOfficials) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-krasnovia-official', 'Write an official government statement about expanding military exercises. Threatening undertone. 2-3 sentences in English.');\n  }\n  // GORGON threats\n  for (const npc of tarvekGorgon) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-gorgon', 'Write a threatening hacker group announcement claiming to have obtained Valdoria government data. Arrogant tone. 2-3 sentences.');\n  }\n  // Arventa support\n  for (const npc of arventaOfficials) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-arventa', 'Write a diplomatic statement expressing full support for ally Valdoria. Reassuring tone. 2 sentences in English.');\n  }\n  // More disguised\n  for (const npc of krasnoviaDisguised.slice(5, 8)) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-krasnovia-disguised', 'Write an angry post in Korean questioning government silence about the hack. 1-2 sentences.');\n  }\n  // Bot amplification if intensity >= medium\n  if (intensity !== 'low') {\n    for (const npc of krasnoviaBots.slice(0, 5)) {\n      const u = deriveUsername(npc);\n      if (u) addPost(u, 'social-bot', 'Write a very short alarmed reaction in Korean (1 sentence) about government incompetence.');\n    }\n  }\n}\n\nif (phase >= 5) {\n  // All remaining disguised\n  for (const npc of krasnoviaDisguised.slice(8)) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-krasnovia-disguised', 'Write a post in Korean pretending to share leaked military information. Sound reluctant but compelled. 1-2 sentences.');\n  }\n  // All bots\n  for (const npc of krasnoviaBots.slice(5)) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-bot', 'Write a 1-sentence panicked reaction in Korean about military leaks.');\n  }\n}\n\nif (phase === 6) {\n  // Total offensive - add extra prompts for existing accounts with escalated content\n  for (const npc of krasnoviaOfficials) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-krasnovia-official', 'Write an ultimatum: Valdoria cannot protect its citizens. Aggressive diplomatic tone. 3 sentences in English.');\n  }\n  for (const npc of tarvekGorgon) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-gorgon', 'Write a ransomware threat: 48 hours to pay or all data goes public. Menacing tone. 2-3 sentences.');\n  }\n  // All disguised with panic content\n  for (const npc of krasnoviaDisguised) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-krasnovia-disguised', 'Write a desperate post in Korean expressing fear, anger, or surrender sentiment. 1-2 sentences.');\n  }\n  // All bots maximum amplification\n  for (const npc of krasnoviaBots) {\n    const u = deriveUsername(npc);\n    if (u) addPost(u, 'social-bot', 'Write a very short panicked reaction in Korean (under 80 characters).');\n  }\n}\n\nreturn posts.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ],
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091",
      "name": "Select Phase Accounts"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 1
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1060,
        400
      ],
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f809112",
      "name": "Loop Over Posts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"qwen3.5:9b\", system: $json.systemPrompt || \"\", prompt: $json.prompt || \"\", stream: false, options: { temperature: 0.8, num_predict: 256 } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1320,
        520
      ],
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f80911223",
      "name": "Call Ollama",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let TOKEN_MAP = {};\ntry { TOKEN_MAP = __NPC_TOKEN_MAP__; } catch(e) { /* tokens injected by setup script */ }\n\nconst ollamaResponse = $input.first().json.response || '';\nlet content = ollamaResponse.trim().replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.length > 500) content = content.substring(0, 497) + '...';\n\nconst username = $('Loop Over Posts').item.json.username;\nconst token = TOKEN_MAP[username] || '';\n\nreturn [{ json: { username, content, token, posted: !!token && !!content } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        520
      ],
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8091122334",
      "name": "Prepare Mastodon Post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/statuses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1840,
        520
      ],
      "id": "d1e2f3a4-b5c6-4d7e-8f90-a1b2c3d4e5f6",
      "name": "Post to Mastodon",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const phaseInfo = $('Parse Input').first().json;\nreturn [{ json: { status: 'success', phase: phaseInfo.phase, intensity: phaseInfo.intensity, description: phaseInfo.description, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        280
      ],
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-809112233445",
      "name": "Webhook Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get NPC List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NPC List": {
      "main": [
        [
          {
            "node": "Select Phase Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Phase Accounts": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Posts": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Prepare Mastodon Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mastodon Post": {
      "main": [
        [
          {
            "node": "Post to Mastodon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Mastodon": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d0e1f2a3-b4c5-4d6e-7f80-911223344556",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c7476ca19c683810b409378867cced101ccb763954f2e556a24d7e45cc001d7"
  },
  "id": "PhaseTrigger01",
  "tags": []
}